html{
    box-sizing: border-box;
}

*, *:before, *:after{
    box-sizing: inherit;
}

body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
    font-size: 18px;
}

#racine{
    width: 100%;
    margin: 0 auto;
    
}

.cacher{
    display: none;
}